@use '@carbon/type';

.notificationPanel {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3rem);
    background-color: rgb(var(--cds-background), 0.7);
    overflow: scroll;
    border-left: solid 1px var(--cds-skeleton-background);
    
    .header {

        padding: 0 0 1.5rem 0;
        margin: 0 1rem 1.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--cds-skeleton-background);

        .recent {
            @include type.type-style('productive-heading-01');
        }
    }

    .stack-container {
        margin: 0;
    }
}