@use '@carbon/grid';
@include grid.flex-grid();

@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';
@import '@carbon/themes/scss/themes';

@import './components/UI/ui.scss';
@import './pages/Profile/profile.scss';
@import './pages/DailyTime/daily-time.scss';
@import './pages/Deduction/deduction.scss';
@import './pages/DailyTime/summary.scss';
@import './pages/DailyTime/log.scss';
@import './pages/Login/login.scss';


#root {
   margin-top: 3rem;
   @include carbon--theme($carbon--theme--g10, true);
   // color: var(--cds-text-01);

   .bg {
      position: fixed;
      z-index: -1;
      top: 3rem;
      left: 0;
      height: calc(100vh - 3rem);
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--cds-ui-background);
   }

   .bx--header-panel {
      width: 16rem;
      height: 0;
      transition: 0.11s;
      will-change: height;
   }

   .bx--header-panel--expanded {
      height: 50%;
   }

   .bx--tile {
      background-color: var(--cds-ui-01);
   }
}