@import './mixins.scss';
@import './overrides.scss';

// .bg-override {
//     background-image: url(https://quantum-computing.ibm.com/_nuxt/img/bg-vector-pattern-dark.6fce647.svg);
// }

.dailytime__illo {
    max-width: 100%;
}

.dailytime__banner {
    border-bottom: solid 1px #e0e0e0;
    padding-top: $spacing-06;
    padding-bottom: $spacing-07 * 2;
    color: var(--cds-text-01);
    background-color: var(--cds-ui-01);
    // @include dailytime-background;
}

.dailytime__heading {
    @include carbon--type-style('productive-heading-05');
    color: var(--cds-text-01,#161616);
}

.dailytime__r2 {
    margin-top: rem(-40px);
}

.dailytime__tab-content {
    padding-top: $spacing-10;
    padding-bottom: $spacing-10;
}

.dailytime__p {
    @include carbon--type-style('body-short-01');
    margin-top: $spacing-03;
    color: var(--cds-text-05);
}