@import './mixins.scss';
@import './overrides.scss';

.dailytime {
    height: 100vh;
    background-image: url(https://quantum-computing.ibm.com/_nuxt/img/bg-vector-pattern-dark.6fce647.svg);
    background-repeat: no-repeat;
    background-position: -120px 80px;

}

.dailytime__illo {
    max-width: 100%;
}

.dailytime__banner {
    padding-top: $spacing-05;
    padding-bottom: $spacing-07 * 2;
    @include dailytime-background;
}

.dailytime__heading {
    @include carbon--type-style('productive-heading-05');
}

.dailytime__r2 {
    margin-top: rem(-40px);
}

.dailytime__tab-content {
    padding-top: $spacing-10;
    padding-bottom: $spacing-10;
}

.dailytime__subheading {
    @include carbon--type-style('productive-heading-03');
    @include carbon--font-weight('semibold');
}

.dailytime__p {
    @include carbon--type-style('productive-heading-03');
    margin-top: $spacing-06;

    @include carbon--breakpoint-between((320px + 1), md) {
        max-width: 75%;
    }
}

.dailytime__r3 {
    padding-top: $spacing-09;
    padding-bottom: $spacing-09;
    @include dailytime-background;
}

.dailytime__label {
    @include carbon--type-style('heading-01');
}