.dailytime {
    .summary {
        margin-top: $spacing-09;
        height: 510px;

        .left {

            height: 510px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 8px;
            margin-bottom: 3rem;

            .datetime {
                display: flex;
                flex-direction: column;
                width: 100%;

                .date {
                    font: 28px/36px 'IBM Plex Sans', 'sans-serif';
                    font-weight: 400;
                }

                .time {
                    font: 44px/64px 'IBM Plex Sans';
                    font-weight: 600;
                }
            }


            .clock {
                position: relative;
                width: 100%;
                padding: 24px;
                background: linear-gradient(269.84deg, rgba(51, 177, 255, .08) .41%, rgba(51, 177, 255, .07) .42%, rgba(51, 177, 255, .02) 78.2%);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__title {
                    @include carbon--type-style('productive-heading-03');
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .time {
                        @include carbon--type-style('productive-heading-05');
                        text-align: end;
                    }

                    .logo {
                        height: 75%;
                    }
                }

                .phd {
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: var(--cds-ui-01, #f4f4f4);
                }

            }
        }

        .right {
            width: 100%;
            height: 510px;
            display: flex;
            flex-direction: column;

            .top {

                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 66px;
                padding: 1.5rem;

                .wrap {

                    display: flex;
                    align-items: center;

                    column-gap: 0.5rem;

                    .title {
                        @include carbon--type-style('productive-heading-01');
                    }
                }

                .link {
                    text-decoration: none;
                    cursor: pointer;
                    color: var(--cds-link-01, #0f62fe);
                    transition: color 70ms cubic-bezier(.2, 0, .38, .9);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .tabs {

                justify-content: flex-start;

                .tab-label {

                    display: flex;
                    flex-direction: column;

                    .amount {
                        @include carbon--type-style('productive-heading-05');
                    }

                }

            }

            .no-data {
                width: 100%;
                text-align: center;
                padding: 40px 24px;
                @include carbon--type-style('body-long-01');
            }
        }

    }
}