.login {

    width: 100%;
    height: calc(100vh - 3rem);
    background-image: url('https://cloud.ibm.com/login/static/cache/2710b-1194401830/img/login_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
        width: 56px;
    }

    .header-wrapper {

        display: flex;
        flex-direction: column;
        padding-top: 142px;

        .title {
            margin-top: 24px;
            color: #f4f4f4;
            font-size: 2rem;
        }

        .help {
            color: #8d8d8d;
            font-size: .875rem;
            margin-top: 8px;

            .link {
                margin-left: 8px;
                color: #78a9ff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    .form {
        margin-top: 56px;

        .button {

            margin-top: 16px;
        }

        .container {

            margin-top: 12px;
        }

        .bx--form-item {

            .bx--label {
                width: 100%;

                .forgot {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .forgot-id {
            margin-top: 18px;
            padding-bottom: 2px;
        }
    }
}