.edit__bg {
    background-color: var(--cds-overlay-01, rgba(22, 22, 22, 0.5));
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
}

.edit__container {
    background-color: var(--cds-ui-01, #f4f4f4);
    width: 48%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $spacing-09;
}

.heading {
    color: var(--cds-text-01, #161616);
}

.p {
    color: var(--cds-text-02, #393939);
}

.edit__basic {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-05;
}

.edit__contact {
    margin-top: $spacing-07;
    display: flex;
    flex-direction: column;
    row-gap: $spacing-05;
}

.edit__footer {
    justify-content: right;
    margin-top: $spacing-07;
}