@use '@carbon/grid';

.deduction {

    // on min width 1312
    @media (min-width: 1920px) {
        .center {
            max-width: 1920px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .name {
        @include carbon--type-style('productive-heading-05');
        color: var(--cds-text-01, #161616);
        margin-bottom: 3rem;
    }

    .menu {
        margin-bottom: 3rem;
    }

    .composer {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        row-gap: 16px;

        img {
            height: 32px;
            width: fit-content;
        }

        .middle {
            margin-bottom: 16px;

            .intro {
                @include carbon--type-style('body-short-01');
                color: var(--cds-text-02, #525252);
            }

            .title {
                @include carbon--type-style('productive-heading-03');
                color: var(--cds-text-01, #161616);
            }
        }

        .button {
            padding: 0 8px;
            text-align: center;
            width: fit-content
        }
    }

    .tiles {

        margin-bottom: 3rem;
    }
}

// Emit the flex-grid styles
@include grid.flex-grid();